:root {
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white: #FFFFFF;

    --font-family-young: 'Young Serif', serif;
    --font-family-outfit: 'Outfit', sans-serif;

    --font-line-height-100: 1;
    --font-line-height-150: 1.5;
    --font-letter-spacing: 0px;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;

    --font-text-40: 4rem;
    --font-text-28: 2.8rem;
    --font-text-20: 2rem;
    --font-text-16: 1.6rem;

    --space-128: 128px;
    --space-48: 48px;
    --space-40: 40px;
    --space-32: 32px;
    --space-24: 24px;
    --space-16: 16px;
    --space-12: 12px;
    --space-8: 8px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-outfit);
    font-size: var(--font-text-16);
    color: var(--stone-600);
    line-height: var(--font-line-height-150);
    letter-spacing: var(--font-letter-spacing);
}

html {
    font-size: 62.5%;

}

body {
    background-color: var(--rose-50);
    padding: var(--space-128) var(--space-48);
}


.card {
    max-width: 736px;
    background-color: var(--white);
    padding: var(--space-40);
    gap: var(--space-40);
    display: flex;
    flex-direction: column;
    border-radius: var(--space-24);
    margin: auto;
}

.card_title {
    font-family: var(--font-family-young);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-line-height-100);
}

.card_flex {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
}



h1 {
    color: var(--stone-900);
    font-size: var(--font-text-40);
}

h2 {
    font-size: var(--font-text-28);
    color: var(--brown-800);
}

.card_preparation-title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-text-20);
    line-height: var(--font-line-height-100);
    color: var(--rose-800);
}

.card_icon {
    display: flex;
    width: var(--space-16);
    height: var(--space-24);
    align-items: center;
}

.card_elipse {
    width: 4px;
    height: 4px;
    background-color: var(--rose-800);
    border-radius: 50%;
}

.card_line {
    border: 1px solid var(--stone-150);
}

.card_numbers {
    font-weight: var(--font-weight-bold);
    color: var(--brown-800);
}

.card_content {
    gap: var(--space-32);
}

.card_preparation {
    background-color: var(--rose-50);
    padding: var(--space-24);
    border-radius: var(--space-12);
    gap: var(--space-16);
}

.card_section {
    gap: var(--space-8);
}

.card_items {
    flex-direction: row;
    padding-left: var(--space-8);
    gap: var(--space-16);
}



.elipse_brown {
    background-color: var(--brown-800);
}

.card_table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-12) 0;
}

.card_table-item {
    padding: 0 var(--space-32);
}

.card_datos {
    font-weight: var(--font-weight-bold);
    color: var(--brown-800);
}

@media (max-width: 375px) {
    body {
        padding: 0;
    }

    .card {
        padding: 0;
        border-radius: 0;
        gap: 0;
    }

    .card_img {
        padding: 0;
        border-radius: 0;
    }

    .card_content {
        padding: var(--space-40) var(--space-32);
    }

    h1 {
        font-size: 3.6rem;
    }
}